.Top-Segment{
    background-color: #F08973 ;
    top: 0%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 200px;

}

h1.MeM{
    font-size: 100;
    text-align: center;
}


li.members{
    display: inline;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
    margin-left: 20px;
    
}
